a {
  color: inherit;
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}
.top-bar-spacer {
  width: 8px;
}
.button {
  background-color: white;
  border: 1px solid #ececec;
  cursor: pointer;
  padding: 12px 24px;
}
.button-primary {
  color: white;
  border: none;
  background-color: rgb(90, 111, 180);
}
.input {
  border: 1px solid #ececec;
  padding: 8px;
}
