.container {
  border: solid grey;
  border-width: 0 1px;
  margin: auto;
  min-height: 100vh;
  max-width: 1366px;
}

.nav {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

.nav-item {
  padding: 6px 16px;
}

.main {
  padding: 6px 16px;
}

.post {
  border: 1px solid grey;
  margin-bottom: 12px;
  padding: 8px;
}
