body {
  color: #373737;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav {
  background-color: #373737;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 900px;
}

.nav-item {
  padding: 16px 16px;
}

.nav-spacer {
  flex-grow: 1;
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 900px;
  overflow: auto;
  padding: 16px;
}

.post {
  border-bottom: 2px solid #c4c4c4;
  overflow: auto;
  padding-bottom: 24px;
}

.post-link-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
}

.post-link {
  background-color: #373737;
  color: white;
  font-size: 1rem;
  padding: 12px;
}
