@import '~normalize.css';

a {
  color: inherit;
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}
.top-bar-spacer {
  width: 8px;
}
.button {
  background-color: white;
  border: 1px solid #ececec;
  cursor: pointer;
  padding: 12px 24px;
}
.button-primary {
  color: white;
  border: none;
  background-color: rgb(90, 111, 180);
}
.button-danger {
  color: white;
  border: none;
  background-color: #e05c5c;
}
.button-small {
  padding: 4px 8px;
}
/* Used for overriding default button tag styles */
.button-reset {
  background: transparent;
  border: none;
  color: inherit;
  text-align: unset;
}
.flex-spacer {
  flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.field:last-child {
  margin-bottom: 0;
}
.field-horizontal {
  flex-direction: row;
}
.label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.input {
  border: 1px solid #ececec;
  font-family: 'Fira Code', monospace;
  padding: 8px;
}
